/**
 * Custom SASS
 */
@include media-query($on-palm) {
	.img-container {
		margin-right:-15px;
		margin-left:-15px;
	}
}

.language-ssh-public-key {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }