/**
 * Custom SASS
 */

.container-img-album {
    text-align: center;
    background: #F0F0F0;
    @include media-query($on-palm) {
    	margin-right:-15px;
    	margin-left:-15px;
    }
}

.img-album {
    max-height: 95vh;
}

.language-ssh-public-key {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }