---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {%- assign album = site.data.albums[post.album] -%}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }} {% include get_album_info.html %}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if album.photos.size > 0 %}
          {%- assign cover_image = 0 -%}
          {%- if album.cover and album.cover < album.photos.size -%}
            {%- assign cover_image = album.cover -%}
          {%- endif -%}
          {%- assign image = album.photos[cover_image] -%}
          {%- assign desktop_width = '740px' -%}
            {%- if image.portrait -%}{%- assign desktop_width = '66.6vh' -%}{%- endif -%}
          <div class="container-img-album" {% if image.base64-s40 %}style="--background: url(data:image/jpg;base64,{{ image.base64-s40 }});"{% endif %}>
            <a class="post-link" href="{{ post.url | relative_url }}">
              
              {% include print_responsive_image.html class="img-album" %}

            </a>
          </div>
        {% else %}
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% comment %} 
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endcomment %} 
</div>


